.card{
  width: 550px;
  height: 350px;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form{
  padding: 30px !important;
}
.name{
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;
  margin-top: 30px;
}
.list{
  width: 120px;
  height:70px !important;
  position: fixed !important;
  right: 100px;
  top: 50%;
  font-size: 20px !important;
}
.font{
  margin-left: 5px;
  font-size: 16px;
}
.box{
  width: 240px;
  height:100px;
  overflow: auto;
  margin-left: -10px;
}
.content{
  width:90px;
  display: inline-block;
  text-align: center;
}
.write{
  display: inline-block;
  width: 50px;
  margin-left: -3px;
}
.button{
  background-color: gray !important;
  border: none !important;
  float: right;
  color: white !important;
}